/*CSS code goes here*/
#test-container{
    background-color: lightgrey;
}

.form-group{
    font-weight: bold;
}

#fishList{
    background-color:yellowgreen;
    width: 25%;
}
#body{
    background: grey;
}

#loginLbl{
    text-decoration-color: chartreuse;
}

